<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <abeta_punch_out>
            <general>
                <version>v1.1.1</version>
                <api_version>1.0</api_version>
                <enable>0</enable>
            </general>
            <settings>
                <button_label>PunchOut</button_label>
                <use_modal>1</use_modal>
            </settings>
            <debug>
                <enabled>0</enabled>
            </debug>
        </abeta_punch_out>
    </default>
</config>
