<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Abeta\PunchOut\Api\LoginToken\RepositoryInterface" type="Abeta\PunchOut\Model\LoginToken\Repository"/>
    <preference for="Abeta\PunchOut\Api\LoginToken\DataInterface" type="Abeta\PunchOut\Model\LoginToken\Data"/>
    <preference for="Abeta\PunchOut\Api\LoginToken\SearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Abeta\PunchOut\Api\Config\RepositoryInterface" type="Abeta\PunchOut\Model\Config\Repository"/>
    <preference for="Abeta\PunchOut\Api\Log\RepositoryInterface" type="Abeta\PunchOut\Model\Log\Repository"/>
    <preference for="Abeta\PunchOut\Api\Webapi\LoginInterface" type="Abeta\PunchOut\Model\Webapi\Login"/>
    <preference for="Abeta\PunchOut\Api\Webapi\CartInterface" type="Abeta\PunchOut\Model\Webapi\Cart"/>
    <preference for="Abeta\PunchOut\Api\Webapi\CheckoutInterface" type="Abeta\PunchOut\Model\Webapi\Checkout"/>

    <type name="Abeta\PunchOut\Logger\ErrorLogger">
        <arguments>
            <argument name="name" xsi:type="string">AbetaError</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Abeta\PunchOut\Logger\Handler\Error</item>
            </argument>
        </arguments>
    </type>
    <type name="Abeta\PunchOut\Logger\DebugLogger">
        <arguments>
            <argument name="name" xsi:type="string">AbetaDebug</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Abeta\PunchOut\Logger\Handler\Debug</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Quote\Model\ChangeQuoteControl">
        <plugin name="abeta_quote_control" type="Abeta\PunchOut\Plugin\Quote\Model\ChangeQuoteControlPlugin"/>
    </type>
    <type name="Magento\Checkout\Controller\Onepage">
        <plugin name="abeta_checkout" type="Abeta\PunchOut\Plugin\Checkout\Controller\RedirectToCartPlugin"/>
    </type>

</config>
